<section class="my-footer mt-3">
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="python" viewBox="0 0 16 16">
    <path d="M2.5 1A1.5 1.5 0 0 0 1 2.5v11A1.5 1.5 0 0 0 2.5 15h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 15 8.586V2.5A1.5 1.5 0 0 0 13.5 1zM2 2.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 .5.5V8H9.5A1.5 1.5 0 0 0 8 9.5V14H2.5a.5.5 0 0 1-.5-.5zm7 11.293V9.5a.5.5 0 0 1 .5-.5h4.293z"/>
  </symbol>
  <symbol id="vk" viewBox="0 0 16 16">
    <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9q-.13 0-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
    <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4 4 0 0 1-.82 1H12a3 3 0 1 0 0-6z"/>
  </symbol>
</svg>
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-sm-12 my-3">
        <a href="/" class="text-body-secondary text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#python"/></svg>
        </a>
        <span class="text-body-secondary">&copy; 2021-2022 ФК Усмань</span>
      </div>
      <div class="col-lg-3 col-sm-12 my-3 d-flex justify-content-end">
        <ul class="nav list-unstyled">
          <li class=""><a class="text-body-secondary" href="https://vk.com/usmanfc"><svg class="bi" width="24" height="24"><use xlink:href="#vk"/></svg></a></li>
          <li class="ms-2"><a class="text-end" href="#">Наверх</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>